# Visual Studio temporary files
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.dll
*.exe

# NuGet packages folder
packages/

# Visual Studio files
.vscode/
.vs/
/.vs/ConsoleApp_Game/v17/.suo
/.vs/ConsoleApp_Game/v17/TestStore/0/000.testlog
/bin/Debug/ConsoleApp_Game.pdb
/DataBase_Game/SampleDatabase.mdf
/DataBase_Game/SampleDatabase_log.ldf
/SampleDatabase_log.ldf
/SampleDatabase.mdf
